@import lib/fonts
@import lib/definitions
@import lib/loader
@import lib/codemirror/codemirror
@import lib/codemirror/spanner
@import lib/medium

$cms_control_height: 36px
$cms_left_width: 480px

body
  +cms-font-light

body, html
  margin: 0
  padding: 0
  width: 100%
  height: 100%

a
  text-decoration: none
  color: $warm

a.cms-add, a.cms-delete, a.cms-save
  display: inline-block
  vertical-align: top
  width: 20px
  height: 20px
  text-indent: 20px
  overflow: hidden
  background:
    position: 0 0
    repeat: no-repeat
    image: image-url('linksprite.png')

a.cms-add
  background-position: 0 0
  &:hover
    background-position: 0 -32px

a.cms-delete
  background-position: 0 -192px
  &:hover
    background-position: 0 -224px

a.cms-save
  background-position: 0 -288px
  &:hover
    background-position: 0 -320px

a.button
  +buttony
  cursor: pointer
  display: inline-block
  vertical-align: top
  &:hover
    background-color: $warm
  &.save
    background-color: $greenish
    &:hover
      background-color: $green
  &.publish
    background-color: $purpleish
    &:hover
      background-color: $purple
  &.delete
    background-color: $reddish
    &:hover
      background-color: $red
  &.arrowed
    &:before
      content: "\025B8"
      width: 8px
      font-family: sans-serif
      margin-right: 8px
  &.open
    margin-bottom: 0
    padding-bottom: 20px
    &.arrowed
      &:before
        content: "\025BE"
        font-family: sans-serif
        margin-right: 8px


a[contenteditable]
  cursor: inherit

#cms-shelf, #cms-manager
  a
    cursor: pointer
    text-decoration: none

// Page construction

#cms-ui
  position: relative
  border-top: 1px solid $menu_bg
  transition: margin-left 0.5s ease
  margin-left: -$cms_left_width
  min-height: 100%
  #cms-shelf
    position: absolute
    left: 0
    top: 0
    width: $cms_left_width
    height: 100%
    overflow: auto
  #cms-main
    position: relative
    margin-left: $cms_left_width
    overflow: auto
    #cms-manager
      position: absolute
      top: 20px
      left: 20px
      z-index: 100
      transition: left 0.5s ease

#cms-shelf
  background-color: $shelf_bg
  color: $shelf_text
  z-index: 10
  #site_tabs
    position: absolute
    top: 0
    left: 0
    height: $cms_control_height
    width: $cms_left_width
    background: $shelf_head_bg
    color: $menu_text
    text-align: center
    z-index: 100
    transition: left 0.5s ease
    a.tab
      +cms-font-light
      display: inline-block
      padding: 8px 10px
      color: $shelf_text
      &.current
        background-color: $shelf_bg
  #site_controls
    position: absolute
    top: 20px
    right: 10px

  #cms-configuration
    #cms-config-body
      top: 0
      left: -$cms_left_width
      bottom: 0
      width: $cms_left_width
      height: 100%
      box-sizing: border-box
      padding-top: $cms_control_height
      overflow: hidden
      transition: left 0.5s ease
      label
        display: block
        padding: 16px 10px 6px 10px
        font-weight: bold
        clear: both
      select
        margin: 16px 10px 6px 10px
      textarea, .CodeMirror
        width: 100%
        height: 100%
        clear: both
      input
        width: 460px
        clear: both
        border: none
        background: $shelf_head_bg
        color: $shelf_text
        padding: 18px 10px
        box-sizing: border-box
        outline: none
        margin: 0 10px
        +cms-font-light
        font-size: 1rem
        &.title
          font-size: 2rem
      p.buttons
        overflow: hidden
        margin-top: -32px
        z-index: 999
        position: relative
        a.button
          display: inline-block
          &.revert
            +button($mid)
            float: left
            z-index: 10
          &.preview
            +button($greenish)
            float: right


#cms-ui.shelved
  margin-left: 0

#cms-ui.collapsed
  margin-left: -$cms_left_width
  #cms-main
    #cms-manager
      width: auto
      #pages_manager, #page_controls, #sections_manager
        display: none
      #site_manager
        a.shelf
          display: none

#cms-main
  position: relative
  z-index: 20

  #cms-editor
    z-index: 50
    margin: 0
    border: 0
    padding: 0
    width: 100%
    height: 100%

  #cms-manager
    position: absolute
    +cms-font-light
    top: 0
    left: 0
    width: 100%
    z-index: 100
    transition: left 0.5s ease
    &:empty
      display: none
    #site_manager
      position: relative
      margin: 0
      float: left
    #pages_manager
      margin: 0
      float: left
      div.header
        display: inline
    #page_controls
      margin: 0
      float: left
      div
        display: inline
    #sections_manager
      position: relative
      margin: 0
      float: left
    #rte
      position: absolute
      top: 0
      right: 0
      width: 320px
      
    // general purpose menu setup

    a.button
      float: left
      &.ui
        padding: 7px
        polygon
          fill: white
          stroke: none
        &.save_me
          background-color: $greenish
          &:hover
            background-color: $green
        &.publish_me
          background-color: $blueish
          &:hover
            background-color: $blue
          

    .cms-menu-body
      position: absolute
      display: none
      top: 54px
      background-color: $warmish
      width: auto
      min-width: 120px
      ul
        padding: 0
        margin: 0
      li
        list-style: none
        position: relative
        padding: 12px
        box-sizing: border-box
        clear: left
        min-width: 260px
        height: 48px
        a
          color: white
          white-space: nowrap
        a.title
          opacity: 0.75
        a.nav
          color: white
          opacity: 0.5
          margin-left: 4px
          &.selected
            opacity: 1.0
        span[contenteditable]
          display: inline-block
          vertical-align: middle
          background-color: white
          color: $dark
          border: 0
          min-width: 40px
          padding: 3px
        span.slug
          display: none
          padding: 0
        span.d, span.a
          display: inline-block
          vertical-align: middle
          min-width: 16px
          margin-right: 4px
          height: 16px
          opacity: 0.75
          &:first-child
            min-width: 0
        span.page_type
          float: right
          opacity: 0.5
        select.page_type
          float: right
        span.controls
          position: absolute
          top: 0
          right: -54px
          width: 56px
          height: 48px
          padding-left: 2px
          padding-right: 8px
          padding-top: 6px
          background-color: $menu_hover_bg
          +border-right-radius(32px)
          display: none
          box-sizing: border-box
          a
            margin: 10px 0 0 0
        &:hover
          background-color: $warm
          a, span.a
            +glow
          .controls
            display: block
            background-color: $warm
        &.changed
          a.title
            font-weight: bold
        &.new
          background-color: $green
          a.title
            display: none
          span.controls
            display: block
            background-color: $green
          span.slug
            display: inline-block
        &.selected
          background-color: $warm
          color: white
          a.title, span.a
            color: white
            opacity: 1
        &.destroyed
          text-decoration: line-through
          opacity: 0.4

    .open
      .cms-menu-head
        padding-bottom: 20px
        margin-bottom: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
      .cms-menu-body
        height: auto
        display: block
    

#cms-session-barrier
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 60
  background-color: white
  #form
    position: relative
    width: 600px
    margin-top: 100px
    margin-left: 90px
    h1
      color: $mid
      font-weight: lighter
      margin: 0
      font-size: 1.25rem
      line-height: 34px
      span
        display: block
        float: left
        height: 32px
      span.logo
        width: 32px
        margin-right: 0
        margin-left: -32px
    .signin
      margin: 0 2em
      .confirmation
        padding-top: 12px
        display: none
      .qrcode
        display: inline-block
        vertical-align: top
        width: 276px
        margin: 0
        img
          padding: 10px
          background: white
      .instructions
        display: inline-block
        vertical-align: top
        width: 256px
        height: 256px
        margin: 0
        margin-left: 10px
        h4
          margin: -3px 0 0 0
        p
          margin: 0.25em 0

    form
      fieldset
        border: 0
        margin: 0
        padding: 0
        a.forgotten, a.lost
          float: right
          font-size: 0.9rem
          padding-top: 5px
          color: $mid
          +hover
        input[type="text"],input[type="email"],input[type="password"]
          padding: 16px
          width: 600px
          font-size: 1.2em
          border: none
          outline: none
          +cms-font-light
          background:
            color: $palest
            position: right 10px top 10px
            repeat: no-repeat
            image: url('/images/fieldsprite.png')
          &::-webkit-input-placeholder
            color: $pale
            font-size: 0.8rem
          &::-moz-placeholder
            color: $pale
            font-size: 0.8rem
          &:-ms-input-placeholder
            color: $pale
            font-size: 0.8rem
          &.placeholder
            color: $pale
            font-size: 0.8rem
          &.valid
            background-position: right 22px top -82px
          &.invalid
            background-position: right 22px top -178px
        input[type="submit"]
          padding: 10px 20px 10px 15px
          margin: 0
          border: none
          background-color: $green
          color: white
          outline: none
          font-size: 0.8rem
          border: none
          +cms-font-light
          &:active
            +box-shadow(inset 0 1px 3px $shadow)
          &:disabled
            background-color: white
            color: $verypale
            box-shadow: none

  .status_panel
    margin: 5px 5px 5px 0
    a.sign_out
      color: $pale
      +small


// some svg experiments
span.logo
  width: 32px
  height: 32px
  margin-right: 4px

.logo
  polygon
    fill: none
    stroke: $mid
    stroke-width: 1px
  &:hover
    polygon
      stroke: $warm

