@import lib/definitions
@import lib/fonts
@import lib/loader

$control_height: 48px

a
  cursor: pointer
  text-decoration: none

body
  +book
  color: $dark
  margin: 0
  height: 100%

body, html
  height: 100%

h1, h2, h3
  font-weight: normal

h2.label
  color: $mid
  font-size: 10px
  margin: 0
  padding: 10px

#cms
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

#spanner

#ui
  position: absolute
  height: 100%
  width: 100%

#session
  height: 100%
  width: 100%

#editor
  position: absolute
  width: 100%
  bottom: 0
  top: $control_height


=management
  box-sizing: border-box
  display: inline-block
  float: left
  vertical-align: top
  height: $control_height

#manager
  position: fixed
  left: 0
  right: 0
  height: $control_height
  background: $dark
  color: white
  .button
    +button
    &.add
      +button($green)
  #manager_menu
    +management
    width: $control_height
    a
      display: block
      width: $control_height
      height: $control_height
      background:
        image: image-url('spanner.png')
        position: top left
        repeat: no-repeat

  a
    color: white

  #sites
    margin: 0 0 0 48px
    .header
      height: $control_height
      box-sizing: border-box
      float: left
      padding: 0 10px
      border-left: 1px solid white
      display: table
      a
        display: table-cell
        vertical-align: middle
    .controls
      height: $control_height
      box-sizing: border-box
      float: left
      padding: 0 10px
      border-left: 1px solid white
    .menu
      position: absolute
      display: none
      top: $control_height
      background: $dark
      margin-left: 1px
      & > div
        padding: 3px 10px
        &.selected
          background-color: $green
    #pages
      margin: 0 10px
      float: left
      #sections
        margin: 0 10px
        float: left

#editor

  header
    background: #ddd
    width: 100%
    height: 96px
    h1
      text-align: center

  main
    padding: 20px
    overflow: hidden
    section
      min-height: 120px
      margin: 10px
      border: 1px dotted $verypale
      &.selected
        border: 1px dotted $green
        h2.label
          color: $green
      &:target
        border: 1px dotted $rubine
        h2.label
          color: $rubine

  footer
    background: #ddd
    width: 100%
    height: 32px

// undigested login stuff 




#session
  #form
    position: relative
    width: 600px
    margin-top: 100px
    margin-left: 40px
    
    h1
      color: $mid
      margin: 0
      font-size: 1.4rem

    .signin
      margin: 0 2em
      .confirmation
        padding-top: 12px
        display: none
      .qrcode
        display: inline-block
        vertical-align: top
        width: 276px
        margin: 0
        img
          padding: 10px
          background: white
      .instructions
        display: inline-block
        vertical-align: top
        width: 256px
        height: 256px
        margin: 0
        margin-left: 10px
        h4
          margin: -3px 0 0 0
        p
          margin: 0.25em 0

    form
      fieldset
        border: 0
        margin: 0
        padding: 0
        a.forgotten, a.lost
          float: right
          font-size: 0.9rem
          padding-top: 5px
          color: $mid
          +hover
        input[type="text"],input[type="email"],input[type="password"]
          padding: 16px
          width: 600px
          font-size: 1.8em
          border: 1px solid $pale
          outline: none
          +border-radius(4px)
          +light
          background:
            position: right 10px top 10px
            repeat: no-repeat
            image: url('/images/fieldsprite.png')
          &::-webkit-input-placeholder
            color: $pale
            font-size: 1rem
          &::-moz-placeholder
            color: $pale
            font-size: 1rem
          &:-ms-input-placeholder
            color: $pale
            font-size: 1rem
          &.placeholder
            color: $pale
            font-size: 1rem
            text-align: right
          &.valid
            background-position: right 22px top -82px
          &.invalid
            background-position: right 22px top -178px
        input[type="submit"]
          padding: 10px 20px 10px 15px
          margin: 0
          border: none
          background-color: white
          outline: none
          +box-shadow(0 1px 3px $dark)
          font-size: 1.5em
          +light
          +border-radius(3px)
          &:active
            color: $hover
            +box-shadow(inset 0 1px 6px $dark)
          &:disabled
            background-color: white
            color: $pale
            box-shadow: none

  .status_panel
    margin: 5px 5px 5px 0
    a.sign_out
      color: $pale
      +small