@import lib/definitions
@import lib/fonts
@import lib/loader
@import lib/codemirror
@import lib/medium

$control_height: 36px
$left_width: 480px

a
  cursor: pointer
  text-decoration: none

body
  +book
  color: $dark
  line-height: 1.6

body, html
  margin: 0
  padding: 0
  width: 100%
  height: 100%

h1, h2, h3
  font-weight: normal

h2.label
  color: $mid
  font-size: 10px
  margin: 0
  padding: 10px

a.add, a.delete, a.menu, a.save
  display: inline-block
  vertical-align: top
  width: 20px
  height: 20px
  text-indent: 20px
  overflow: hidden
  background:
    position: 0 0
    repeat: no-repeat
    image: image-url('linksprite.png')

a.add
  background-position: 0 0
  &:hover
    background-position: 0 -32px

a.delete
  background-position: 0 -192px
  &:hover
    background-position: 0 -224px

a.menu
  background-position: 0 -384px
  &:hover
    background-position: 0 -416px

a.save
  background-position: 0 -288px
  &:hover
    background-position: 0 -320px

a.section_type
  width: 32px
  height: 32px
  display: inline-block
  vertical-align: top
  background:
    position: 0 0
    repeat: no-repeat
    image: image-url('sectionsprite.png')
  &.default
    background-position: 0 0
    &.selected
      background-position: -32px 0
    &:hover
      background-position: -64px 0
  &.twocol
    background-position: 0 -32px
    &.selected
      background-position: -32px -32px
    &:hover
      background-position: -64px -32px
  &.bigtext
    background-position: 0 -64px
    &.selected
      background-position: -32px -64px
    &:hover
      background-position: -64px -64px
  &.hero
    background-position: 0 -96px
    &.selected
      background-position: -32px -96px
    &:hover
      background-position: -64px -96px
  &.bigquote
    background-position: 0 -128px
    &.selected
      background-position: -32px -128px
    &:hover
      background-position: -64px -128px
  &.carousel
    background-position: 0 -160px
    &.selected
      background-position: -32px -160px
    &:hover
      background-position: -64px -160px
  &.video
    background-position: 0 -192px
    &.selected
      background-position: -32px -192px
    &:hover
      background-position: -64px -192px


#ui
  position: relative
  top: 0
  right: 0
  bottom: 0
  left: 0
  border-top: 1px solid $menu_bg
  transition: left 0.5s ease
  &.shelved
    left: $left_width
    #main
      #manager
        left: $left_width
    #shelf
      #site_tabs
        left: 0
    
#session
  height: 100%
  width: 100%

#shelf
  position: absolute
  top: 0
  right: auto
  bottom: 0
  height: 100%
  left: -$left_width
  width: $left_width
  background-color: $shelf_bg
  color: $shelf_text
  margin-top: 0
  overflow: hidden
  z-index: 10
  +box-shadow(inset -4px 0 8px rgba(0,0,0,0.9))
  #site_tabs
    position: fixed
    top: 0
    left: -$left_width
    width: $left_width
    right: 0
    background: $shelf_head_bg
    color: $menu_text
    z-index: 100
    height: $control_height
    overflow: hidden
    transition: left 0.5s ease
    a.tab
      display: inline-block
      padding: 6px 10px
      color: $shelf_text
      &.current
        background-color: $shelf_bg
  #site_controls
    a
      +box-shadow(inset -4px 0 8px rgba(0,0,0,0.4))
      padding-bottom: 40px
  #configuration
    #style, #script, #config
      display: none
      position: absolute
      width: 100%
      box-sizing: border-box
      padding: 5px
      top: 32px
      bottom: 0
      overflow-y: auto
      overflow-x: hidden
      &.current
        display: block
      a.button
        &.revert
          +button($red)
        &.preview
          +button($rubine)
    .temp_css
      min-height: 256px
      margin: 0
      background: rgba(100,100,100,0.2)
      border-left: 1px solid white
      padding: 10px

#main
  z-index: 20
  #editor
    z-index: 50
    margin-top: $control_height
    padding: 20px
    [contenteditable]
      border: 6px solid white
      background-color: #eaeaed
      outline: none
      border-radius: 5px

    header
      overflow: hidden

    main
      section
        position: relative
        .admin
          position: absolute
          top: 10px
          right: -54px
          width: 85px
          a.menu
            position: relative
            background-color: white
            border-radius: 3px
          div.menu
            position: relative
            overflow: hidden
            margin-top: -3px
            background-color: white
            border-radius: 3px
            +box-shadow(0 2px 5px rgba(0,0,0,0.4))
            width: 85px
            height: 0
            transition: height 0.5s ease
            &.open
              height: 120px
            a.section_type
              margin: 4px

  #manager
    position: fixed
    top: 0
    left: 0
    right: 0
    background: $menu_bg
    color: $menu_text
    z-index: 100
    height: $control_height + 2px
    transition: left 0.5s ease
    #site_manager
      position: relative
      margin: 0
      float: left
    #pages_manager
      margin: 0
      float: left
    #sections_manager
      position: relative
      margin: 0
      float: left

    #rte
      position: absolute
      right: 200px
      top: 0
      min-width: 300px


    // general purpose menu setup
    
    .header
      position: relative
      display: inline-block
      height: $control_height
      background-color: $menu_bg
      box-sizing: border-box
      float: left
      padding: 0 12px 0 5px
      margin-right: 5px
      a
        display: inline-block
        vertical-align: middle
      a.title
        padding: 6px 0 0 0
        color: $menu_text
        &.site
          padding: 6px 0 6px $control_height
          height: $control_height
          font-weight: bold
          box-sizing: border-box
          background:
            image: image-url('spanner.svg')
            position: 0 0
            repeat: no-repeat
          &.save_me, &.publish_me
            background-image: image-url('spanner_up.svg')
            color: $warm
        &.arrowed
          &:before
            content: "\025B8"
            width: 8px
            font-family: sans-serif
            margin-right: 8px
      &:hover
        background-color: $menu_hover_bg
        a
          color: $menu_hover_text
      &.open
        background-color: $menu_up_bg
        +box-shadow(0 4px 6px rgba(0,0,0,0.4))
        a
          color: $menu_up_text
        a.title.arrowed
          &:before
            content: "\025BE"
            font-family: sans-serif
            margin-right: 8px
    .menu
      position: absolute
      display: none
      top: $control_height
      background-color: $menu_up_bg
      width: auto
      +box-shadow(0 4px 6px rgba(0,0,0,0.4))
      ul.menu_items
        list-style: none
        padding: 0
        margin: 0
        li
          position: relative
          padding: 6px 6px 6px 12px
          clear: left
          a
            color: $menu_up_text
            white-space: nowrap
          a.title
          a.nav
            color: $verypale
            margin-left: 4px
            &.selected
              color: $menu_selected_bg
          span[contenteditable]
            display: inline-block
            vertical-align: middle
            background-color: white
            color: $dark
            border: 0
            min-width: 40px
            padding: 3px
            margin-right: 40px
            border-radius: 5px
          span.slug
            display: none
            padding: 0
          span.d, span.a
            display: inline-block
            vertical-align: middle
            min-width: 16px
            margin-right: 4px
            height: 16px
            color: $menu_up_text
            &:first-child
              min-width: 0
          span.controls
            position: absolute
            top: 0
            right: -54px
            width: 45px
            height: 34px
            padding-left: 2px
            padding-right: 8px
            background-color: $menu_hover_bg
            +border-right-radius(20px)
            display: none
            a
              margin: 10px 0 0 0
          &:hover
            background-color: $menu_hover_bg
            a, span.a
              color: $menu_hover_text
            .controls
              display: block
              background-color: $menu_hover_bg
          &.changed
            a.title
              color: $warm
          &.new
            background-color: $warmish
            color: $menu_hover_text
            a.title
              display: none
            span.controls
              display: block
              background-color: $menu_new_bg
            span.slug
              display: inline-block
          &.selected
            background-color: $menu_selected_bg
            color: white
            a, span.a
              color: white
            &:hover
              background-color: $menu_selected_bg
              a, span.a
                color: white
            span.controls
              background-color: $menu_selected_bg
          &.destroyed
            text-decoration: line-through
            opacity: 0.4


#page_controls, #site_controls
  position: absolute
  right: 0
  top: 0

#page_controls, #site_controls
  a.save_page, a.publish_page, a.save_site, a.publish_site
    display: inline-block
    margin: 0
    padding: 6px 10px
    box-sizing: border-box
    height: $control_height
    color: white
  a.save_page, a.save_site
    background-color: $greenish
    &:hover
      background-color: $green
      +glow
  a.publish_page, a.publish_site
    background-color: $warmish
    &:hover
      background-color: $warm
      +glow

// undigested login stuff



#session_barrier
  z-index: 60
  #form
    position: relative
    width: 600px
    margin-top: 100px
    margin-left: 40px
    
    h1
      color: $mid
      margin: 0
      font-size: 1.4rem

    .signin
      margin: 0 2em
      .confirmation
        padding-top: 12px
        display: none
      .qrcode
        display: inline-block
        vertical-align: top
        width: 276px
        margin: 0
        img
          padding: 10px
          background: white
      .instructions
        display: inline-block
        vertical-align: top
        width: 256px
        height: 256px
        margin: 0
        margin-left: 10px
        h4
          margin: -3px 0 0 0
        p
          margin: 0.25em 0

    form
      fieldset
        border: 0
        margin: 0
        padding: 0
        a.forgotten, a.lost
          float: right
          font-size: 0.9rem
          padding-top: 5px
          color: $mid
          +hover
        input[type="text"],input[type="email"],input[type="password"]
          padding: 16px
          width: 600px
          font-size: 1.8em
          border: 1px solid $pale
          outline: none
          +border-radius(4px)
          +light
          background:
            position: right 10px top 10px
            repeat: no-repeat
            image: url('/images/fieldsprite.png')
          &::-webkit-input-placeholder
            color: $pale
            font-size: 1rem
          &::-moz-placeholder
            color: $pale
            font-size: 1rem
          &:-ms-input-placeholder
            color: $pale
            font-size: 1rem
          &.placeholder
            color: $pale
            font-size: 1rem
            text-align: right
          &.valid
            background-position: right 22px top -82px
          &.invalid
            background-position: right 22px top -178px
        input[type="submit"]
          padding: 10px 20px 10px 15px
          margin: 0
          border: none
          background-color: white
          outline: none
          +box-shadow(0 1px 3px $dark)
          font-size: 1.5em
          +light
          +border-radius(3px)
          &:active
            color: $hover
            +box-shadow(inset 0 1px 6px $dark)
          &:disabled
            background-color: white
            color: $pale
            box-shadow: none

  .status_panel
    margin: 5px 5px 5px 0
    a.sign_out
      color: $pale
      +small

