@import lib/definitions

header
  background: #ddd
  width: 100%
  height: 96px
  h1
    text-align: center

main
  padding: 20px
  section
    min-height: 120px
    margin: 10px
    border: 1px dotted $verypale
    h2
      margin: 0
    .section_aside
      float: right
      width: 25%
      min-height: 50px
      & + .section.body
        width: 70%
    .section_body
      min-height: 100px

footer
  background: #ddd
  width: 100%
  height: 32px
