@import lib/definitions

body
  background-color: black
  line-height: 1.6
  
header
  width: 100%
  min-height: 96px
  h1
    text-align: center

#main
  width: 90%
  max-width: 960px
  margin: 0 auto
  background-color: black
  color: white
  section
    position: relative
    clear: both
    +clearfix
    .wrapper
      .section_title
        display: none
        h2.section
          font-size: 2em
          margin-right: 100px
        &.showing
          display: block
      &.default
        .section_image, .section_note, .section_aside
          display: none
        .section_body
          min-height: 100px
          max-width: 800px
      &.twocol
        .col
          display: inline-block
          vertical-align: top
          float: left
          min-height: 100px
          width: 460px
          &.second
            float: right
      &.asided
        .section_image, .section_note
          display: none
        .section_aside
          float: right
          width: 293px
          min-height: 50px
          margin: 0 0 10px 60px
          color: $pale
          img:first-child
            margin-top: 1em
        .section_body
          min-height: 100px
          max-width: 800px
          border-top: 1px solid transparent
      &.bigtext
        .section_body
          display: block
          font-size: 1.6rem
          line-height: 1.6
      &.bigquote
        p
          display: block
          width: 80%
          font-size: 2rem
          line-height: 1.2
          margin: 1.5em auto
      &.grid
        p
          width: 300px
          margin: 20px
          display: inline-block
          float: left
      &.hero
        .frame
          position: relative
          width: 960px
          height: 540px
          overflow: hidden
          background-color: $green
          .section_title
            position: absolute
            bottom: 0
            left: 0
            right: 0
            text-shadow: 0 0 10px rgba(0,0,0,0.4)
            h2
              margin: 0
              padding: 12px 20px
              font-size: 3.4rem
              line-height: 1
              p
                display: inline
        .section_image
          display: block
          width: 950px
          border: 5px solid white
          height: auto
          min-height: 480px
          background-color: $green
      &.carousel
        .frame
          position: relative
          width: 960px
          height: 540px
          overflow: hidden
          background-color: $green
          .section_title
            position: absolute
            bottom: 0
            left: 0
            right: 0
            text-shadow: 0 0 10px rgba(0,0,0,0.4)
            h2
              margin: 0
              padding: 12px 20px
              font-size: 3.4rem
              line-height: 1
              p
                display: inline
          .carousel
            .image
              width: 960px
              height: 540px
              display: inline-block
              float: left
              margin: 0
              background:
                repeat: no-repeat
                position: center center
                size: cover
        .captions
          margin-top: 20px
          p
            width: 293px
            margin: 20px
            display: inline-block
            float: left
            opacity: 0.75
            transition: opacity 0.3s ease
            a
              color: darken($yellow, 10)
            &:last-child
              margin-right: 0
            &:first-child
              margin-left: 0
            &.current
              opacity: 1.0
